<form name="adicionarChamado">
  <input
    type="text"
    name="nameId"
    [(ngModel)]="id"
    placeholder="ID"
    disabled=""
  />
  <input type="text" name="nameName" [(ngModel)]="nome" placeholder="Nome:" />
  <input
    type="text"
    name="nameEndereco"
    [(ngModel)]="endereco"
    placeholder="Endereco:"
  />
  <input
    type="text"
    name="nameEmail"
    [(ngModel)]="descricao"
    placeholder="Descricao:"
  />

 <!--  <select [(ngModel)]="fila">
    <option selected>Open this select menu</option>
    <option value="1">Não atendido</option>
    <option value="2">Suporte Nivel 1</option>
    <option value="3">Suporte Nivel 2</option>
    <option value="4">Em atendimento</option>
    <option value="5">Finalizados</option>
  </select> -->
  <button type="submit" (click)="butonClick()">
    {{ id ? "Editar" : "Criar" }}
  </button>
</form>

<!-- <div class="cards"><div class="container-kanban" *ngFor="let lista of listaFilas | async">
  <h3>{{ lista.name }}</h3>

  <div class="example-container">
      <div
        cdkDropList
        #naoAtendido="cdkDropList"
        [cdkDropListData]="atividades | async"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box"
          *ngFor="let task of atividades | async"
          cdkDrag
        >
          <p>ID lista: {{ lista.id }} <br></p>
          <p>Atividade: Fila{{ task.fila }}<br></p>

          <p *ngIf="lista.id === task.fila">
            ID: {{ task.id }} <br />
            Nome: {{ task.nome }}<br />
            Endereco: {{ task.endereco }}<br />
            descricao: {{ task.descricao }}<br />
            Fila:{{task.fila}}<br />


            <button (click)="preencherCampos(task)">Alterar</button>
            <button (click)="removerAtividade(task.id!)">Remover</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="example-container">
    <h2>Suporte Nivel 1</h2>

    <div
      cdkDropList
      #suporteNv1="cdkDropList"
      [cdkDropListData]="atividades | async"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of listaSuporteNv1" cdkDrag>
        <p *ngIf="item.fila === 2">
          ID: {{ item.id }} <br />
          Nome: {{ item.nome }}<br />
          Endereco: {{ item.endereco }}<br />
          Email: {{ item.descricao }}<br />
          Fila: {{ item.fila }}<br />

          <button (click)="preencherCampos(item)">Alterar</button>
          <button (click)="removerAtividade(item.id!)">Remover</button>
        </p>
      </div>
    </div>
  </div>

    <div class="example-container">
      <h2>Suporte Nivel 2</h2>

      <div
        cdkDropList
        #suporteNvn2="cdkDropList"
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of listaSuporteNv2" cdkDrag>
          <p *ngIf="item.fila === 3">
            ID: {{ item.id }} <br />
            Nome: {{ item.nome }}<br />
            Endereco: {{ item.endereco }}<br />
            Email: {{ item.descricao }}<br />
            Fila: {{ item.fila }}<br />

            <button (click)="preencherCampos(item)">Alterar</button>
            <button (click)="removerAtividade(item.id!)">Remover</button>
          </p>
        </div>
      </div>
    </div>
      <div class="example-container">
        <h2>Em atendimento</h2>

        <div
          cdkDropList
          #emAtendimento="cdkDropList"
          [cdkDropListData]="atividades | async"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of listaEmAtendimento"
            cdkDrag
          >
            <p *ngIf="item.fila === 4">
              ID: {{ item.id }} <br />
              Nome: {{ item.nome }}<br />
              Endereco: {{ item.endereco }}<br />
              Email: {{ item.descricao }}<br />
              Fila: {{ item.fila }}<br />

              <button (click)="preencherCampos(item)">Alterar</button>
              <button (click)="removerAtividade(item.id!)">Remover</button>
            </p>
          </div>
        </div>
      </div>

        <div class="example-container">
          <h2>Finalizados</h2>

          <div
            cdkDropList
            #finalizado="cdkDropList"
            [cdkDropListData]="done"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of listaFinalizado"
              cdkDrag
            >
              <p *ngIf="item.fila === 5">
                ID: {{ item.id }} <br />
                Nome: {{ item.nome }}<br />
                Endereco: {{ item.endereco }}<br />
                Email: {{ item.descricao }}<br />
                Fila: {{ item.fila }}<br />

                <button (click)="preencherCampos(item)">Alterar</button>
                <button (click)="removerAtividade(item.id!)">Remover</button>
              </p>
            </div>
          </div>
        </div>
      </div>





 -->



<!--  <main class="board" cdkDropListGroup>
  <ng-container *ngIf="atividades">
      <div class="columns"
      *ngFor="let coluna of listaFilas | async"
      >
          <div class="items"
          cdkDropList
                  [cdkDropListData]="coluna.tasks"
                  (cdkDropListDropped)="drop($event)"
                  >
              <p class="column-title">{{coluna.name}}</p>
              <div class="task-container">
                  <div class="task" *ngFor="let item of coluna.tasks" cdkDrag>
                      <p class="task-title">{{item.taskName}}</p>
                      <p class="task-subtitle">{{item.autor}}</p>
                      <div>
                          <button (click)="openDialogMore(item.taskName, item.autor, item.descricao)">
                              <mat-icon aria-label="View more button" fontIcon="more"></mat-icon>
                          </button>
                          <button (click)="openDialogEdit(item.id!, item.taskName, item.autor, item.descricao)">
                              <mat-icon aria-label="Edit button" fontIcon="edit"></mat-icon>
                          </button>
                      </div>
                  </div>
                  <div class="task addDiv" (click)="openDialogAdd()">
                      <mat-icon aria-label="add button" fontIcon="add"></mat-icon>
                      <p class="task-subtitle">Adicionar tarefa</p>
                  </div>
              </div>
          </div>
      </div>
  </ng-container>
</main> -->
